<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation=" http://www.springframework.org/schema/data/mongo
	        http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd 
                http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd

       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

            <context:annotation-config></context:annotation-config>
	    <context:component-scan base-package="org.certiweb"></context:component-scan>
	   
	    <mongo:jmx></mongo:jmx>
	  
	    <bean class="org.springframework.data.document.mongodb.SimpleMongoDbFactory" id="mongoDbFactory">
	        <constructor-arg index="0" ref="mongo" />
	        <constructor-arg index="1" value="elements-db"/>
	    </bean>
	 
	    <bean class="org.springframework.data.document.mongodb.mapping.MongoMappingContext" id="mappingContext">   
	    </bean> 
	 
	    <bean class="org.springframework.data.document.mongodb.convert.MappingMongoConverter" id="converter">
	        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	        <constructor-arg name="mappingContext" ref="mappingContext" />        
	    </bean>
	 
	    <bean class="org.springframework.data.document.mongodb.MongoTemplate" id="mongoTemplate">
	        <constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
	        <constructor-arg name="mongoConverter" ref="converter" />       
	        <property name="writeResultChecking" value="EXCEPTION" />
	        <property name="writeConcern" value="NORMAL"/>
	    </bean>
	  
	    <bean class="org.springframework.data.document.mongodb.MongoFactoryBean" id="mongo">
	        <property name="host" value="localhost"></property>
	    </bean>
           
            
            <bean id="initService" class="org.certiweb.dao.InitConnection" init-method="init"></bean>
</beans>


